
.logo{
position: absolute;
width: 140px;
height: 105px;
left: 59px;
top: 10px;
}
.jdm-da-tau{
    color: rgb(0, 0, 0);
    text-align: center;
    
}
.carros-imagem{
    position: absolute;
    width: 668px;
    height: 351px;
    left: 1000px;
    top: 305px;
    background: url(img_carros.jpeg);
    mix-blend-mode: darken;
}
.jdm-carros{
    color: black;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 24px 0;
    font-family: 'Lexend Mega', sem serifa;
}
.jdm-div-conteudo{
    width: 30%;
}
.jdm-titulo{
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    width: 420px;
    height: 37px;
    left: 82px;
    top: 206px;
}
.jdm-texto-1{
    position: absolute;
width: 404px;
height: 37px;
left: 75px;
top: 258px;
font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: white;
}
.jdm-texto-2{
    position: absolute;
    width: 340px;
    height: 26px;
    left: 104px;
    top: 399px;
    font-family: 'Lexend Tera';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px

}
.jdm-2-titulo{
    position: absolute;
width: 440px;
height: 37px;
left: 845px;
top: 824px;
font-family: 'Lexend Mega';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 26px;
}
.jdm-3-titulo{
    position: absolute;
width: 420px;
height: 28px;
left: 845px;
top: 861px;
position: absolute;
width: 420px;
height: 28px;
left: 845px;
top: 861px;
}
.jdm-4-titulo{
    position: absolute;
width: 404px;
height: 37px;
left: 845px;
top: 904px;
font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: rgba(0, 0, 0, 0.85);
}

.jdm-imagem-2{
position: absolute;
width: 520px;
height: 256px;
left: 185px;
top: 811px;
}
.jdm-titulo-3{
    position: absolute;
width: 420px;
height: 37px;
left: 510px;
top: 1154px;
}
.jdm-ultima-imagem-1{
    
position: absolute;
width: 340px;
height: 340px;
left: 125px;
top: 1286px;
}
.jdm-ultima-imagem-2{
    position: absolute;
width: 340px;
height: 340px;
left: 559px;
top: 1286px;
}
.jdm-ultima-imagem-3{
    position: absolute;
width: 340px;
height: 340px;
left: 984px;
top: 1286px;

}
.legenda-1{
    font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

position: absolute;
width: 404px;
height: 37px;
left: 98px;
top: 1636px;
color: #000000;
}
.legenda-2{
    font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

position: absolute;
width: 404px;
height: 37px;
left: 515px;
top: 1636px;
color: #000000;
}
.legenda-3{
    font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

position: absolute;
width: 404px;
height: 37px;
left: 932px;
top: 1636px;
color: #000000;
}
.texto-final{
    font-family: 'Lexend Mega';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 35px;

position: absolute;
width: 400px;
height: 28px;
left: 600px;
top: 1771px;
}
.mapa{
color: rgb(0, 0, 0, 0,25);
    position: absolute;
    width: 345px;
    height: 188px;
    left: 1000px;
    top: 1733px;
    border: #000000;
    
}
.final-texto-jdm-1{
    font-family: 'Lexend Mega';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
width: 660px;
height: 34px;
left: 375px;
top: 2002px;
position: absolute;
width: 1342px;
height: 129px;
left: 200px;
top: 1982px;
background: #ffffff;
}
.jdm-texto-dois{
    position: absolute;
    width: 300px;
    height: 54px;
    left: 75px;
    top: 392px;
    background: #EB9191;
}
.logo-jdm-imagem{
    color: #EB9191;
    left: 800px;

}
.fonte-jdm-texto-2{
    font: "Lexend tera";
    font-weight: 400;
    size: 16px;
    line-height: 20px;
}
.retangulo{
    position: absolute;
    width: 340px;
    height: 50px;
    left: 255px;
    top: 400px;
    text-align: center;
    background: #E97E7E;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ffffff;
    transform: translate(-50%,-50%);
    border: 5px;
    box-shadow: 0 20px 35px #EB9191;
    overflow: hidden;

}
.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;

    @media screen and (max-width: 768px){
        .conteiner{
            width:100%;
            flex-direction:column;
        }
        
    }
}
.icone-1{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 800px;
    top: 21px;
}
.icone-2{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1200px;
    top: 21px;
}
.icone-3{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1800px;
    top: 24px;
}
.cabecalho-1{
    position: absolute;
    width: 285px;
    height: 19px;
    right: 225px;
    left: 844px;
    top: 4px;
}
.cabecalho-2{
    position: absolute;
    width: 285px;
    height: 19px;
    right: 225px;
    left: 1250px;
    top: -8px;
    font-size:30px;
}


